alembic
astroid
Click
colorama
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
isort
itsdangerous
Jinja2
lazy-object-proxy
Mako
MarkupSafe
mccabe
pycodestyle
pyflakes
pylint
python-dateutil
python-dotenv
python-editor
selenium
six
SQLAlchemy
urllib3
Werkzeug
wrapt
WTForms
